<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqjtu.mapper.ItemTypeMapper" >
  <resultMap id="BaseResultMap" type="com.cqjtu.model.ItemType" >
    <id column="item_type_id" property="itemTypeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_type_id, type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item_type
    where item_type_id = #{itemTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item_type
    where item_type_id = #{itemTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqjtu.model.ItemType" >
    insert into item_type (item_type_id, type_name)
    values (#{itemTypeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqjtu.model.ItemType" >
    insert into item_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemTypeId != null" >
        item_type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemTypeId != null" >
        #{itemTypeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqjtu.model.ItemType" >
    update item_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where item_type_id = #{itemTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqjtu.model.ItemType" >
    update item_type
    set type_name = #{typeName,jdbcType=VARCHAR}
    where item_type_id = #{itemTypeId,jdbcType=INTEGER}
  </update>
</mapper>