<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqjtu.mapper.QualityMapper" >
  <resultMap id="BaseResultMap" type="com.cqjtu.model.Quality" >
    <id column="quality_id" property="qualityId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="quality_sum_score" property="qualitySumScore" jdbcType="INTEGER" />
    <result column="comprehensive_quality_score" property="comprehensiveQualityScore" jdbcType="DOUBLE" />
    <result column="academic_year" property="academicYear" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
	<!-- 连表查询综合素质项目审核情况返回map -->
	<resultMap id="AuditSituationMap" type="java.util.Map">
		<result column="quality_tiem_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="qualityTiemId" />
		<result column="item_name" javaType="java.lang.String" jdbcType="VARCHAR" property="itemName" />
		<result column="item_status" javaType="java.lang.String" jdbcType="VARCHAR" property="itemStatus" />
		<result column="item_evidence_url" javaType="java.lang.String" jdbcType="VARCHAR" property="evidenceUrl" />
		<result column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" property="typeName" />
		<result column="item_score" javaType="java.lang.String" jdbcType="VARCHAR" property="itemScore" />
		<result column="quality_type_id" javaType="java.lang.String" jdbcType="VARCHAR" property="qualityTypeId" />
	</resultMap>
	<!-- 连表查询学生信息及其综合素质总审核情况 -->
	<resultMap id="QualityAndStudentMap" type="java.util.Map">
		<result column="quality_id" property="qualityId" javaType="java.lang.Integer" jdbcType="INTEGER"  />
		<result column="status" property="status" javaType="java.lang.String" jdbcType="VARCHAR"  />
		<result column="comprehensive_quality_score" property="score" javaType="java.lang.Double" jdbcType="FLOAT"  />
		<result column="student_name" property="studentName" javaType="java.lang.String" jdbcType="VARCHAR"  />
		<result column="student_id" property="studentId" javaType="java.lang.Long" jdbcType="BIGINT"  />
		<result column="major_id" property="majorId" javaType="java.lang.Integer" jdbcType="INTEGER"  />
		<result column="major_name" property="majorName" javaType="java.lang.String" jdbcType="VARCHAR"  />
		<result column="college_id" property="collegeId" javaType="java.lang.Integer" jdbcType="VARCHAR"  />
		<result column="college_name" property="collegeName" javaType="java.lang.String" jdbcType="VARCHAR"  />
	</resultMap>
	<sql id="Base_Column_List">
		quality_id, student_id, quality_sum_score, comprehensive_quality_score,
		academic_year,
		status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quality
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quality
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqjtu.model.Quality" >
    insert into quality (quality_id, student_id, quality_sum_score, 
      comprehensive_quality_score, academic_year, 
      status)
    values (#{qualityId,jdbcType=INTEGER}, #{studentId,jdbcType=BIGINT}, #{qualitySumScore,jdbcType=INTEGER}, 
      #{comprehensiveQualityScore,jdbcType=DOUBLE}, #{academicYear,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqjtu.model.Quality" >
    insert into quality
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qualityId != null" >
        quality_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="qualitySumScore != null" >
        quality_sum_score,
      </if>
      <if test="comprehensiveQualityScore != null" >
        comprehensive_quality_score,
      </if>
      <if test="academicYear != null" >
        academic_year,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qualityId != null" >
        #{qualityId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="qualitySumScore != null" >
        #{qualitySumScore,jdbcType=INTEGER},
      </if>
      <if test="comprehensiveQualityScore != null" >
        #{comprehensiveQualityScore,jdbcType=DOUBLE},
      </if>
      <if test="academicYear != null" >
        #{academicYear,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqjtu.model.Quality" >
    update quality
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="qualitySumScore != null" >
        quality_sum_score = #{qualitySumScore,jdbcType=INTEGER},
      </if>
      <if test="comprehensiveQualityScore != null" >
        comprehensive_quality_score = #{comprehensiveQualityScore,jdbcType=DOUBLE},
      </if>
      <if test="academicYear != null" >
        academic_year = #{academicYear,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqjtu.model.Quality" >
    update quality
    set student_id = #{studentId,jdbcType=BIGINT},
      quality_sum_score = #{qualitySumScore,jdbcType=INTEGER},
      comprehensive_quality_score = #{comprehensiveQualityScore,jdbcType=DOUBLE},
      academic_year = #{academicYear,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </update>
	<select id="selectAuditSituationList"
		parameterType="java.util.Map" resultMap="AuditSituationMap">
		SELECT c.quality_tiem_id as qualityItemId,c.item_name as
		itemName,d.item_status as itemStatus,c.item_evidence_url as evidenceUrl,
		e.type_name as typeName,c.item_score as itemScore,c.quality_type_id as typeId
		FROM student_info as a
		INNER JOIN
		quality as b ON a.student_id = b.student_id
		<if test="academicYear != null">
			and b.academic_year = #{academicYear,jdbcType=VARCHAR}
		</if>
		INNER JOIN quality_item as c ON b.quality_id = c.quality_id
		INNER JOIN quality_item_audit as d ON c.quality_tiem_id = d.quality_item_id
		INNER JOIN item_type as e ON e.item_type_id = c.quality_type_id
		<where>
			<!-- <if test="studentId != null"> -->
			a.student_id = #{studentId,jdbcType=BIGINT}
			<!-- </if> -->
		</where>
	</select>
	<!-- 通过studentId获取quality信息 -->
    <select id="selectByStudentId" parameterType="java.util.Map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from quality 
		<where>
			<if test="studentId != null">
				student_id = #{studentId,jdbcType=BIGINT}
			</if>
			<if test="academicYear != null">
			 and academic_year = #{academicYear,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != &quot;&quot;">
			 and status = #{status,jdbcType=VARCHAR}
			</if>
		</where>
  	</select>
  	<!-- 搜索:符合条件的学生综合素质测评情况 -->
    <select id="searchQualityAndStudentBaseInfo"  resultMap="QualityAndStudentMap" parameterType="java.util.Map">
		SELECT * FROM (   
			SELECT *,ROW_NUMBER() OVER(ORDER BY  #{sortOrder}) AS RowNumber from (
				SELECT a.quality_id,a.status,a.comprehensive_quality_score AS score,
				b.student_name AS studentName,b.student_id AS studentId,c.major_id AS majorId,
				major_name AS majorName,d.college_id AS collegeId,college_name AS collegeName
				FROM quality a
				LEFT JOIN student_info b ON a.student_id = b.student_id
				LEFT JOIN major c ON b.major_id = c.major_id
				LEFT JOIN college d ON c.college_id =d.college_id
				<where>
					(b.student_name like '%'+#{key}+'%' or b.student_id like '%'+#{key}+'%')
					<if test="majorId != null and majorId != '' and majorId != -1" >
		        		and b.major_id = #{majorId}
		      		</if>
					<if test="collegeId != null and collegeId != '' and collegeId != -1" >
		        		and c.college_id = #{collegeId}
					</if>
					<if test="studentId != null">
						and b.student_id != #{studentId}
					</if>
					<if test="academicYear != null and academicYear != ''">
						and a.academic_year = #{academicYear}  
					</if>
					<if test='status != null and status != "" and status != "全部"'>
						and status = #{status}
					</if>
				</where> 
			) as T
		)as T 
		<where>
			T.RowNumber BETWEEN ((#{page}-1) * #{rows} + 1 )AND #{page}*#{rows}
		</where>
  	</select>
  	<!-- 搜索:符合条件的学生综合素质测评情况 -->
    <select id="getQualityAndStudentTotal"  resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT count(a.quality_id)
		FROM quality a
		LEFT JOIN student_info b ON a.student_id = b.student_id
		LEFT JOIN major c ON b.major_id = c.major_id
		LEFT JOIN college d ON c.college_id =d.college_id
		<where>
			(b.student_name like '%'+#{key}+'%' or b.student_id like '%'+#{key}+'%')
			<if test="majorId != null and majorId != '' and majorId != -1" >
        		and b.major_id = #{majorId}
      		</if>
			<if test="collegeId != null and collegeId != '' and collegeId != -1" >
        		and c.college_id = #{collegeId}
			</if>
			<if test="studentId != null">
				and b.student_id != #{studentId}
			</if>
			<if test="academicYear != null and academicYear != ''">
				and a.academic_year = #{academicYear}  
			</if>
			<if test='status != null and status != "" and  status != "全部"'>
				and status =#{status}
			</if>
		</where> 
  	</select>

</mapper>