<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqjtu.mapper.QualityMapper" >
  <resultMap id="BaseResultMap" type="com.cqjtu.model.Quality" >
    <id column="quality_id" property="qualityId" jdbcType="INTEGER" />
    <result column="quality_sum_score" property="qualitySumScore" jdbcType="INTEGER" />
    <result column="comprehensive_quality_score" property="comprehensiveQualityScore" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    quality_id, quality_sum_score, comprehensive_quality_score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quality
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quality
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqjtu.model.Quality" >
         <selectKey keyProperty="qualityId" order="AFTER" resultType="_int">
           SELECT @@IDENTITY AS quality_id
      </selectKey>
    insert into quality (quality_sum_score, comprehensive_quality_score
      )
    values ( #{qualitySumScore,jdbcType=INTEGER}, #{comprehensiveQualityScore,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqjtu.model.Quality" >
    insert into quality
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qualityId != null" >
        quality_id,
      </if>
      <if test="qualitySumScore != null" >
        quality_sum_score,
      </if>
      <if test="comprehensiveQualityScore != null" >
        comprehensive_quality_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qualityId != null" >
        #{qualityId,jdbcType=INTEGER},
      </if>
      <if test="qualitySumScore != null" >
        #{qualitySumScore,jdbcType=INTEGER},
      </if>
      <if test="comprehensiveQualityScore != null" >
        #{comprehensiveQualityScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqjtu.model.Quality" >
    update quality
    <set >
      <if test="qualitySumScore != null" >
        quality_sum_score = #{qualitySumScore,jdbcType=INTEGER},
      </if>
      <if test="comprehensiveQualityScore != null" >
        comprehensive_quality_score = #{comprehensiveQualityScore,jdbcType=DOUBLE},
      </if>
    </set>
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqjtu.model.Quality" >
    update quality
    set quality_sum_score = #{qualitySumScore,jdbcType=INTEGER},
      comprehensive_quality_score = #{comprehensiveQualityScore,jdbcType=DOUBLE}
    where quality_id = #{qualityId,jdbcType=INTEGER}
  </update>
</mapper>